## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [144]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos_mat'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos_por'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos_geo'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos_ing'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos_his'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos_fis'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos_qui'])

In [159]:
# 2) Seu código aqui
df_total_acertos = pd.concat([df_mat, df_por, df_geo, df_ing, df_his, df_fis, df_qui], axis=1)
df_total_acertos['Total_acertos'] = df_total_acertos.sum(axis=1)
df_total_acertos

,Qt_acertos_mat,Qt_acertos_por,Qt_acertos_geo,Qt_acertos_ing,Qt_acertos_his,Qt_acertos_fis,Qt_acertos_qui,Total_acertos
0,6,7,7,3,1,8,3,35
1,19,10,0,0,0,11,8,48
2,14,16,0,5,7,4,4,50
3,10,7,3,4,0,0,8,32
4,7,2,2,7,0,9,3,30
...,...,...,...,...,...,...,...,...
95,6,4,7,1,4,9,3,34
96,8,1,4,6,1,4,3,27
97,23,5,0,2,4,1,5,40
98,0,10,3,1,5,10,11,40
99,11,15,0,1,6,7,2,42

In [160]:
# 1) Seu código aqui
total_questoes = 24 + 18 + 8 + 8 + 8 + 12 + 12

df_total_acertos['Percentual_acertos'] = (df_total_acertos['Total_acertos'] / total_questoes) * 100
df_total_acertos

,Qt_acertos_mat,Qt_acertos_por,Qt_acertos_geo,Qt_acertos_ing,Qt_acertos_his,Qt_acertos_fis,Qt_acertos_qui,Total_acertos,Percentual_acertos
0,6,7,7,3,1,8,3,35,38.888889
1,19,10,0,0,0,11,8,48,53.333333
2,14,16,0,5,7,4,4,50,55.555556
3,10,7,3,4,0,0,8,32,35.555556
4,7,2,2,7,0,9,3,30,33.333333
...,...,...,...,...,...,...,...,...,...
95,6,4,7,1,4,9,3,34,37.777778
96,8,1,4,6,1,4,3,27,30.000000
97,23,5,0,2,4,1,5,40,44.444444
98,0,10,3,1,5,10,11,40,44.444444
99,11,15,0,1,6,7,2,42,46.666667

In [185]:
# 4) Seu código aqui (forma alternativa)
qtd_alunos_acima_45 = (df_total_acertos['Percentual_acertos'] > 45).sum()
qtd_alunos_acima_45

47

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [166]:
#1 seu código aqui

cond_desqualificados = (df_total_acertos['Qt_acertos_mat'] == 0) | \
                       (df_total_acertos['Qt_acertos_fis'] == 0) | \
                       (df_total_acertos['Qt_acertos_qui'] == 0)

df_desqualificados = df_total_acertos[cond_desqualificados]
df_desqualificados

,Qt_acertos_mat,Qt_acertos_por,Qt_acertos_geo,Qt_acertos_ing,Qt_acertos_his,Qt_acertos_fis,Qt_acertos_qui,Total_acertos,Percentual_acertos
3,10,7,3,4,0,0,8,32,35.555556
6,6,0,7,7,5,0,4,29,32.222222
10,10,8,3,2,1,7,0,31,34.444444
12,20,8,3,7,1,0,3,42,46.666667
14,7,11,1,7,1,4,0,31,34.444444
20,23,11,6,5,6,2,0,53,58.888889
25,0,4,7,4,0,4,8,27,30.000000
26,11,14,6,2,7,0,0,40,44.444444
27,21,13,1,5,7,3,0,50,55.555556
33,14,8,0,5,6,6,0,39,43.333333
35,11,14,6,3,3,0,11,48,53.333333
49,8,1,1,0,1,0,8,19,21.111111
56,7,6,7,5,6,0,8,39,43.333333
65,1,8,2,4,3,0,6,24,26.666667
66,5,4,3,6,3,0,10,31,34.444444
72,11,16,3,4,7,0,9,50,55.555556
73,1,16,2,4,3,0,11,37,41.111111
74,9,11,0,7,5,7,0,39,43.333333
84,15,1,0,5,1,0,4,26,28.888889
89,23,11,7,7,6,9,0,63,70.000000
92,14,10,1,6,1,8,0,40,44.444444
94,0,5,2,6,1,3,8,25,27.777778
98,0,10,3,1,5,10,11,40,44.444444

In [179]:
#2 seu código aqui

df_desqualificado['Qt_acertos'].shape

(23,)

In [171]:
#3 seu código aqui (para alunos reprovados)
media_hist_geo_desqualificados = df_desqualificados[['Qt_acertos_his', 'Qt_acertos_geo']].mean()
media_hist_geo_desqualificados

Qt_acertos_his    3.434783
Qt_acertos_geo    3.217391
dtype: float64

In [176]:
#3 seu código aqui (para total de alunos)

df_media_his = np.mean(df_his)
df_media_his

df_media_geo = np.mean(df_geo)
df_media_geo

print(f'A média para história é de: {df_media_his} e para geografia é de: {df_media_geo}')

A média para história é de: 3.6 e para geografia é de: 3.36

In [192]:
cond_aprovados = ~cond_desqualificados & (df_total_acertos['Percentual_acertos'] > 45)
df_aprovados_2fase = df_total_acertos[cond_aprovados]
df_aprovados_2fase

,Qt_acertos_mat,Qt_acertos_por,Qt_acertos_geo,Qt_acertos_ing,Qt_acertos_his,Qt_acertos_fis,Qt_acertos_qui,Total_acertos,Percentual_acertos
1,19,10,0,0,0,11,8,48,53.333333
2,14,16,0,5,7,4,4,50,55.555556
5,20,2,5,3,2,9,9,50,55.555556
7,18,4,4,7,7,1,8,49,54.444444
8,22,9,2,7,6,5,7,58,64.444444
11,23,6,2,0,6,4,2,43,47.777778
17,21,15,2,2,4,2,6,52,57.777778
18,20,4,3,5,3,11,4,50,55.555556
24,20,2,7,5,3,11,2,50,55.555556
29,16,0,0,2,7,11,8,44,48.888889
31,15,13,3,1,3,9,10,54,60.000000
34,18,14,1,0,6,3,3,45,50.000000
36,22,9,6,6,1,4,8,56,62.222222
37,19,12,5,7,1,6,2,52,57.777778
39,4,16,2,4,6,9,8,49,54.444444
40,18,3,6,3,6,5,6,47,52.222222
42,20,6,7,7,2,3,3,48,53.333333
44,6,14,7,3,1,3,9,43,47.777778
45,17,10,0,2,6,9,4,48,53.333333
48,17,6,0,7,5,9,11,55,61.111111
50,20,9,0,3,1,7,3,43,47.777778
51,1,12,7,3,5,4,10,42,46.666667
52,19,5,5,5,0,3,4,41,45.555556
53,14,11,3,4,3,7,3,45,50.000000
55,11,10,4,4,5,1,6,41,45.555556
60,16,8,0,4,4,7,9,48,53.333333
62,17,6,2,4,7,1,9,46,51.111111
67,21,0,7,2,4,2,10,46,51.111111
68,9,9,5,3,6,10,1,43,47.777778
70,21,14,0,3,5,11,8,62,68.888889
71,17,8,7,6,4,2,9,53,58.888889
75,3,6,7,6,6,9,5,42,46.666667
77,15,2,5,7,6,11,7,53,58.888889
78,14,16,7,2,7,11,9,66,73.333333
80,13,16,5,1,7,2,1,45,50.000000
81,22,16,2,0,4,1,10,55,61.111111
82,7,16,7,1,1,2,9,43,47.777778
83,20,1,5,6,3,6,1,42,46.666667
88,20,1,1,5,7,9,7,50,55.555556
93,12,16,5,5,6,6,6,56,62.222222
99,11,15,0,1,6,7,2,42,46.666667

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [198]:
arquivo = 'https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIPNI/COVID/uf/uf%3DAC/part-00004-530a8625-42c5-45cf-8672-45593d92e157.c000.csv'

In [199]:
# 1)
df = pd.read_csv(arquivo, sep=';')
df.head()

,document_id,paciente_id,paciente_idade,paciente_dataNascimento,paciente_enumSexoBiologico,paciente_racaCor_codigo,paciente_racaCor_valor,paciente_endereco_coIbgeMunicipio,paciente_endereco_coPais,paciente_endereco_nmMunicipio,...,vacina_categoria_codigo,vacina_categoria_nome,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataAplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem
0,a793dca2-239c-43b8-9102-4efbd32dfb56-i0b0,6a30cfce082fc44562f9ee8af3dbf57c2f8c5136f6e916...,20,2001-07-06,F,3,PARDA,120020.0,10.0,CRUZEIRO DO SUL,...,2.0,Faixa Etária,205F21A,JANSSEN,Organization/30587,2022-06-03,Reforço,88,COVID-19 JANSSEN - Ad26.COV2.S,Novo PNI
1,c6214907-d42d-48cd-9fd5-869dc0017aeb-i0b0,9de7536839320c318e0c384f69bd945d1ffabe29d19397...,97,1923-03-27,F,99,SEM INFORMACAO,120040.0,10.0,RIO BRANCO,...,3.0,Pessoas de 60 anos ou mais institucionalizadas,200278,SINOVAC/BUTANTAN,Organization/61189445000156,2021-02-11,1ª Dose,86,COVID-19 SINOVAC/BUTANTAN - CORONAVAC,Novo PNI
2,d56b4fed-37f9-4859-b2cd-774cfb17a32f-i0b0,16167b511949fa0737feb797acb66b756fced4cc0dcfe6...,12,2010-03-15,M,4,AMARELA,120030.0,10.0,FEIJO,...,6.0,Povos e Comunidades Tradicionais,FT5177,PFIZER,28290,2022-12-27,2ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
3,c62f1932-a49e-47a2-8683-c5400aed835e-i0b0,19f8dace7c5632b11aed7f4431f52134e688dfe7ae9e2b...,56,1964-10-15,F,1,BRANCA,120040.0,10.0,RIO BRANCO,...,1.0,Comorbidades,214VCD056W,ASTRAZENECA/FIOCRUZ,Organization/33781055000135,2021-07-14,2ª Dose,85,COVID-19 ASTRAZENECA/FIOCRUZ - COVISHIELD,Novo PNI
4,5c6a4571-59b9-4aca-b0db-66f06b788905-i0b0,4e70fefd4d3eb39084fcb7b438638b379a4f7b5a1b5f01...,46,1974-09-17,M,4,AMARELA,110020.0,10.0,PORTO VELHO,...,2.0,Faixa Etária,217VCD227Z,ASTRAZENECA/FIOCRUZ,Organization/33781055000135,2021-08-25,2ª Dose,85,COVID-19 ASTRAZENECA/FIOCRUZ - COVISHIELD,Novo PNI

In [200]:
df.shape[0]

383098

In [201]:
# 2)
df['paciente_id'].nunique()

313498

In [202]:
# 3)
primeira_dose = df['vacina_descricao_dose'].unique()[1]
primeira_dose

'1ª Dose'

In [203]:
df['paciente_id'].loc[df['vacina_descricao_dose'] == primeira_dose].nunique()

142053

In [204]:
# 4)
df_menor = df[df["paciente_idade"]<18]
df_menor['paciente_id'].nunique()

66486

In [205]:
# 5)

df['estabelecimento_razaoSocial'].nunique()

57

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [208]:
# 1) 
df_menor = df[df["paciente_idade"]<18].copy()
df_menor.head(5)

,document_id,paciente_id,paciente_idade,paciente_dataNascimento,paciente_enumSexoBiologico,paciente_racaCor_codigo,paciente_racaCor_valor,paciente_endereco_coIbgeMunicipio,paciente_endereco_coPais,paciente_endereco_nmMunicipio,...,vacina_categoria_codigo,vacina_categoria_nome,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataAplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem
2,d56b4fed-37f9-4859-b2cd-774cfb17a32f-i0b0,16167b511949fa0737feb797acb66b756fced4cc0dcfe6...,12,2010-03-15,M,4,AMARELA,120030.0,10.0,FEIJO,...,6.0,Povos e Comunidades Tradicionais,FT5177,PFIZER,28290,2022-12-27,2ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
6,92d44112-2e58-42a2-8e2f-5a17f1ff9cba-i0b0,d4fe5d63e27e1d7ee6cfc67fa6e64a672d68854f7f5c36...,16,2005-06-28,F,1,BRANCA,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,FF8842,PFIZER,Organization/00394544000851,2021-09-30,2ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
18,223d25b7-7c79-481b-badd-08c91c4a2e4a-i0b0,50db7e4337fb4e6aabdb977e3a266fd506156e9471bd4a...,12,2010-04-17,M,3,PARDA,120030.0,10.0,FEIJO,...,NaN,NaN,FT5177,PFIZER,28290,2022-11-24,Reforço,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
21,c7e8ce1c-c6d1-4928-aa28-7f72379679c8-i0b0,7a2142b11265310176ac425b9cd563b316ea07f47fe5cc...,3,2019-05-09,M,1,BRANCA,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,220258,SINOVAC/BUTANTAN,152,2022-12-14,1ª Dose,86,COVID-19 SINOVAC/BUTANTAN - CORONAVAC,Novo PNI
24,cd4a896a-f691-4c8a-a646-ec47bc50fc84-i0b0,6eba5ea59b784862dcdb36657a7b2c24d400fe747b4bc0...,14,2006-09-28,F,99,SEM INFORMACAO,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,FA9096,PFIZER,Organization/00394544000851,2021-08-13,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI

In [209]:
# 2) 
df_menor.columns

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_dataNascimento', 'paciente_enumSexoBiologico',
       'paciente_racaCor_codigo', 'paciente_racaCor_valor',
       'paciente_endereco_coIbgeMunicipio', 'paciente_endereco_coPais',
       'paciente_endereco_nmMunicipio', 'paciente_endereco_nmPais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumNacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoAtendimento_codigo',
       'vacina_grupoAtendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataAplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem'],
      dtype='object')

In [210]:
# 3)
df_menor['vacina_categoria_nome'].value_counts()

vacina_categoria_nome
Faixa Etária                                       45966
Povos Indígenas                                     4328
Outros                                              3735
Povos e Comunidades Tradicionais                     875
Trabalhadores de Saúde                               235
População Privada de Liberdade                        64
Comorbidades                                          47
Gestantes                                             44
Pessoas com Deficiência                                5
Pessoas Institucionalizadas                            3
Trabalhadores Industriais                              2
Trabalhadores da Educação                              2
Puérperas                                              1
Funcionário do Sistema de Privação de Liberdade        1
Name: count, dtype: int64

In [211]:
# 4)
lista_variaveis = ['estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf']

In [212]:
# 5)
df_menor_lista = df_menor.loc[:,lista_variaveis]
df_menor_lista

,estabelecimento_valor,estabelecimento_razaoSocial,estalecimento_noFantasia,estabelecimento_municipio_codigo,estabelecimento_municipio_nome,estabelecimento_uf
2,924490,PREFEITURA MUNICIPAL DE FEIJO,UNIDADE MOVEL DE SAUDE FLUVIAL PEDRO RODRIGUES...,120030,FEIJO,AC
6,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
18,2000040,PREFEITURA MUNICIPAL DE FEIJO,CENTRO DE SAUDE DIAMANTINO MACEDO,120030,FEIJO,AC
21,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
24,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
...,...,...,...,...,...,...
383084,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
383086,2000067,PREFEITURA MUNICIPAL DE FEIJO,U S F FRANCISCA LIMA,120030,FEIJO,AC
383088,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
383094,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
383097,3810771,PREFEITURA MUNICIPAL DE TARAUACA,UNIDADE DE S DA FAMILIA DR JOSE LEONCIO GOMES ...,120060,TARAUACA,AC

In [213]:
df_menor_lista = df_menor_lista.drop_duplicates()
df_menor_lista

,estabelecimento_valor,estabelecimento_razaoSocial,estalecimento_noFantasia,estabelecimento_municipio_codigo,estabelecimento_municipio_nome,estabelecimento_uf
2,924490,PREFEITURA MUNICIPAL DE FEIJO,UNIDADE MOVEL DE SAUDE FLUVIAL PEDRO RODRIGUES...,120030,FEIJO,AC
6,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
18,2000040,PREFEITURA MUNICIPAL DE FEIJO,CENTRO DE SAUDE DIAMANTINO MACEDO,120030,FEIJO,AC
46,5354072,PREFEITURA MUNICIPAL DE JORDAO,UNIDADE DE SAUDE DA FAMILIA ANTONIO RODRIGUES ...,120032,JORDAO,AC
48,2001217,PREFEITURA MUNICIPAL DE XAPURI,UNIDADE SAUDE DA FAMILIA JOSE FADUL,120070,XAPURI,AC
...,...,...,...,...,...,...
279452,2001462,PREFEITURA MUNICIPAL DE BRASILEIA,ESF DR RICARDO BARBOSA DA SILVA,120010,BRASILEIA,AC
291561,6596657,PREFEITURA MUNICIPAL DE SANTA ROSA DO PURUS,PSF MOVEL DE SANTA ROSA DO PURUS,120043,SANTA ROSA DO PURUS,AC
296128,197599,CENTRAL MUNICIPAL DE REDE DE FRIOS,CENTRAL MUNICIPAL DE REDE DE FRIOS,120020,CRUZEIRO DO SUL,AC
318469,2000679,PREFEITURA MUNICIPAL DE SENADOR GUIOMARD,UNIDADE S DA F FRANCISCO TAVEIRA,120045,SENADOR GUIOMARD,AC
343279,9296042,PREFEITURA MUNICIPAL DE SENADOR GUIOMARD,UNIDADE BASICA DE SAUDE FRANCISCO LUIS DE FRANCA,120045,SENADOR GUIOMARD,AC

In [214]:
df_menor_lista.shape

(193, 6)